@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');

:root {
	--first-font:'Rubik', sans-serif;
	--second-font:'Raleway', sans-serif;
	--first-bgcolor: #FAFBFD;
	--second-bgcolor: #FFFFFF;
	--first-txtcolor: #616161;
	--second-txtcolor: #000000;
	--third-txtcolor: #EC5863;
	--forth-txtcolor: #4285F4;
	--fifth-txtcolor: #FFFFFF;
	--sixth-txtcolor: #FCFDFE;
}

/* Null stile */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	background: #fafafa;
	color: var(--first-txtcolor);
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	font-family: var(--first-font);
}
.wrapper {
	max-width: 1152px;
	margin: 0 auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main {
	flex: 1 1 auto;
}
.btn {
	display: inline-block;
	width: 144px;
	height: 40px;
	border-radius: 5px;
	font-family: var(--second-font);
	font-weight: 800;
	font-size: 0.8333rem;
	line-height: 1rem;
	letter-spacing: 0.14em;
	background: var(--third-txtcolor);
	color: var(--sixth-txtcolor);
	transition: all 0.3s;
}
.btn:hover {
	box-shadow: inset 0px 40px 10px 10px 0.5;
	opacity: 0.5;
}

/* Header----------------------------------------------------------------------- */

.header {
	display: flex;
	justify-content: space-around;
	padding-top: 37px;
	align-items: center;
	position:relative;
}
.header__logo {
}
.logo-header {
	display: flex;
	align-items: center;
}
.logo-header__img {
}
.logo-header__text {
	color: var(--second-txtcolor);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.75rem;
}
.logo-header__text span {
	color: var(--third-txtcolor)
}
.header__nav {
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	/* margin-top: 14px; */
}
@media (max-width: 768px){
	.header__list {
		position: absolute;
		flex-direction: column;
		align-items:flex-start;
		width: 100vw;
		height: 500px;
		background-color: var(--second-color);
		z-index: 2;
		margin: 0px;
		padding: 135px 0px 0px 0px;
		top: 0;
		right: -100vw;
		transition: 1.0s;
	}
	.header__list.open{
		right: 0;
		box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);
	}
} 
.header__item {
	font-family: var(--second-font);
	font-size: 0.8333rem;
	line-height: 1rem;
	letter-spacing: 0.14em;
	font-weight: 700;
}
.header__item:not(:last-child) {
	margin-right: 40px;
}
@media (max-width: 768px){
	.header__item {
		margin: 0px 0px 16px 127px;
		font-size: 35px;
		line-height: 72.55px; 
	}
}
@media (max-width: 320px){
	.header__item {
		margin: 0 auto;
	}
} 
.header__link {
	color: var(--second-txtcolor);
	transition: all 0.4s;
}
.header__link:hover {
	color: var(--third-txtcolor);
	text-decoration: underline;
	cursor: pointer;
}
.header__button {
	width: 130px;
	background: var(--forth-txtcolor);
}

/*=============== Burger menu =============== */

.hamburger {
	display: none;
}
@media (max-width: 768px) {
.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 50px;
	height: 50px;
	cursor: pointer;
	user-select: none;
	z-index: 3;
	margin: 0px 20px 0px 0px;
	}
}
@media (max-width: 620px){
	.hamburger {
	margin: 0px 20px 0px 20px;
	}
}
.line {
	width: 100%;
	height: 3px;
	background: var(--second-txtcolor);
	margin: 5px 0;
	z-index: 15;
	transition: all 0.3s ease-in-out;
}
.hamburger.open .line1 {
	transform: rotate(-45deg) translate(-10px, 12px);
}
.hamburger.open .line2 {
	opacity: 0;
}
.hamburger.open .line3 {
	transform: rotate(45deg) translate(-6px, -8px);
} 

