@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');

:root {
	--first-font:'Rubik', sans-serif;
	--second-font:'Raleway', sans-serif;
	--first-bgcolor: #FAFBFD;
	--second-bgcolor: #FFFFFF;
	--first-txtcolor: #616161;
	--second-txtcolor: #000000;
	--third-txtcolor: #EC5863;
	--forth-txtcolor: #4285F4;
	--fifth-txtcolor: #FFFFFF;
	--sixth-txtcolor: #FCFDFE;
	--seventh-txtcolor: #B0B0B0;
}

/* Null stile */
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	background: var(--second-bgcolor);
	color: var(--first-txtcolor);
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	font-family: var(--first-font);
	scroll-behavior: smooth;
}
.wrapper {
	max-width: 1152px;
	margin: 0 auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.main {
	flex: 1 1 auto;
}
.btn {
	display: inline-block;
	width: 144px;
	height: 40px;
	border-radius: 5px;
	font-family: var(--second-font);
	font-weight: 800;
	font-size: 0.8333rem;
	line-height: 1rem;
	letter-spacing: 0.14em;
	background: var(--third-txtcolor);
	color: var(--sixth-txtcolor);
	transition: all 0.3s;
}
.btn:hover {
	/* box-shadow: inset 0px 0px 2px 2px var(--second-txtcolor);  */
	opacity: 0.5;
}

/* Header----------------------------------------------------------------------- */

.header {
	display: flex;
	justify-content: space-around;
	padding-top: 37px;
	align-items: center;
	position:relative;
	background: var(--first-bgcolor);
}
.header__logo {
}
.logo-header {
	display: flex;
	align-items: center;
}
.logo-header__img {
}
.logo-header__text {
	color: var(--second-txtcolor);
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.75rem;
}
.logo-header__text span {
	color: var(--third-txtcolor)
}
.header__nav {
}
.header__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}
@media (max-width: 768px){
	.header__list {
		position: absolute;
		flex-direction: column;
		align-items:flex-start;
		width: 100vw;
		height: 600px;
		background-color: var(--second-bgcolor);
		z-index: 3;
		margin: 0px;
		padding: 135px 0px 0px 0px;
		top: 0;
		right: -100vw;
		transition: 1.0s;
	}
	.header__list.open{
		right: 0;
		box-shadow: 0 0 0 10000px rgba(0,0,0,0.5);
	}
} 
.header__item {
	font-family: var(--second-font);
	font-size: 0.8333rem;
	line-height: 1rem;
	letter-spacing: 0.14em;
	font-weight: 700;
}
.header__item:not(:last-child) {
	margin-right: 40px;
}
@media (max-width: 768px){
	.header__item {
		margin: 0px 0px 16px 127px;
		font-size: 35px;
		line-height: 70px; 
	}
}
@media (max-width: 440px){
	.header__item {
		margin: 0px 0px 16px 60px;
		font-size: 35px;
		line-height: 70px; 
	}
}
@media (max-width: 320px){
	.header__item {
		margin: 0 auto;
	}
} 
.header__link {
	color: var(--second-txtcolor);
	transition: all 0.4s;
}
.header__link:hover {
	color: var(--third-txtcolor);
	text-decoration: underline;
	cursor: pointer;
}
.header__button {
	width: 130px;
	background: var(--forth-txtcolor);
	position: relative;
	z-index: 2;
}

/*=============== Burger menu =============== */

.hamburger {
	display: none;
}
@media (max-width: 768px) {
.hamburger {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 50px;
	height: 50px;
	cursor: pointer;
	user-select: none;
	z-index: 4;
	margin: 0px 20px 0px 0px;
	}
}
@media (max-width: 620px){
	.hamburger {
	margin: 0px 20px 0px 20px;
	}
}
.line {
	width: 100%;
	height: 3px;
	background: var(--second-txtcolor);
	margin: 5px 0;
	z-index: 15;
	transition: all 0.3s ease-in-out;
}
.hamburger.open .line1 {
	transform: rotate(-45deg) translate(-10px, 12px);
}
.hamburger.open .line2 {
	opacity: 0;
}
.hamburger.open .line3 {
	transform: rotate(45deg) translate(-6px, -8px);
} 

/* Main---------------------------------------------------------------------- */

/* Hero----------------------------------------------------------------------- */

.section__hero {
}
.hero {
	height: 100%;
	position: relative;
	display: flex;
	align-items: center; 
	background-color: var(--first-bgcolor);
	/* margin-top: -77px;  */
}
@media (max-width: 440px) {
	.hero {
		flex-direction: column-reverse;
	}
}
.hero::before {
	position: absolute;
	content: '';
	height: 700px; 
	width: 295.29px;
	right: 0;
	top:-77px;
	background-color: var(--third-txtcolor);
	border-radius: 30px 0px 0px 30px;
	
}
@media (max-width: 1078px) {
	.hero::before {
	height: 112%; 
	width: 25vw;
	}
}
@media (max-width: 1030px) {
	.hero::before {
	height: 111.5%; 
	width: 25vw;
	}
}
@media (max-width: 900px) {
	.hero::before {
	height: 110%; 
	width: 25vw;
	}
}
@media (max-width: 768px) {
	.hero::before {
	height: 120%; 
	width: 25vw;
	top: -87px;
	}
}
@media (max-width: 620px) {
	.hero::before {
	display: none;
	}
}
.hero__description {
	margin: 165px 0px 0px 70px;
}
@media (max-width: 768px){
	.hero__description {
	margin: 40px 30px 0px 30px;
}
}
@media (max-width: 768px){
	.hero__description {
	margin: 20px 30px 0px 30px;
}
}
.hero__description-title {
	font-size: 3.666rem;
	line-height: 126%;
	font-weight: 700;
	color: var(--second-txtcolor);
	margin: 0px 0px 12px 0px;
}
.hero__description-title span {
	color: var(--forth-txtcolor);
}
@media (max-width:900px){
	.hero__description-title {
	font-size: 3.0rem;
	line-height: 126%;
	}
}
.hero__description-text {
	letter-spacing: 0.08em;
	margin: 0px 0px 24px 0px;
}
.hero__description-button {
	margin: 0px 0px 148px 0px;
}
@media (max-width: 768px){
	.hero__description-button {
	margin: 0px 0px 30px 0px;
	}
}
.hero__video {
	display: flex;
	align-items: center;
	margin: 0px 0px 48px 0px;
}
.hero__video-img {
	margin: 0px 12px 0px 0px;
}
.hero__video-description{
}
.hero__video-title {
	font-size: 1.0833rem;
	line-height: 126%;
	letter-spacing: 0.08em;
	color: var(--seventh-txtcolor);
	margin: 0px 0px 5px 0px;
}
.hero__video-subtitle {
	font-size: 0.75rem;
	line-height: 126%;
	letter-spacing: 0.165em;
	text-transform: uppercase;
}
.hero__image {
	margin: 0px 52.57px 0px 10px;
	position: relative;
	z-index: 2;
}
@media (max-width: 768px){
	.hero__image {
	width: 50vw;
	align-self:center;
	margin: 0px 30px 0px 0px;
	}
}
@media (max-width: 440px){
	.hero__image {
	 margin: 30px;
	}
}
/* .hero__background {
	position: absolute;
	top: -77px;
	right: 0;
	z-index: 1;
	opacity: 0.2;
	height: 700px;
}
@media (max-width: 768px){
	.hero__background {
		display: none;
	}
} */

/* Stay----------------------------------------------------------------------- */

.section__stay {
}
.stay {
	display: flex;
	justify-content: center;
	align-items: center;
}
@media (max-width: 440px){
	.stay {
	 flex-direction: column;
	}
}
.stay__image {
	margin: 79px 0px 79px 100px;
}
@media (max-width: 768px){
	.stay__image {
	width: 30vw;
	height: 50%;
	margin: 20px 10px 20px 10px;
	}
}
@media (max-width: 440px){
	.stay__image {
		margin: 30px;
		height: 50%;
	}
}
.stay__description {
	margin: 0px 186px 0px 149px;
}
@media (max-width: 768px){
.stay__description {
	margin: 30px 30px 0px 30px;
}
}
.stay__description-title {
	font-size: 3.666rem;
	line-height: 126%;
	font-weight: 700;
	color: var(--second-txtcolor);
	margin: 0px 0px 12px 0px;
}
.stay__description-title span {
	color: var(--third-txtcolor);
}
@media (max-width:900px){
	.stay__description-title {
	font-size: 3.0rem;
	line-height: 126%;
	}
}
.stay__description-text {
	letter-spacing: 0.08em;
	margin: 0px 0px 24px 0px;
}
.stay__description-button {
}
/* Counter----------------------------------------------------------------------- */
.counter {
	background-color: var(--first-bgcolor);
	padding: 103.93px 0px 79.07px 0px;
}
@media (max-width: 620px){
	.counter {
		padding: 40px 0px 40px 0px;
	}
}
.counter__container {
	position: relative;
	max-width: 654px;
	margin: 0 auto 0 auto;
}
.counter__body{
	position: relative;
	z-index: 2;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: var(--fifth-txtcolor);
	padding: 28px 80px;
	box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
	border-radius: 16px;
}
.counter__block {
}
.counter__title {
	font-weight: 700;
	font-size: 3rem;
	line-height: 3.583rem;
	letter-spacing: 0.14em;
	text-align: center;
	color: var(--third-txtcolor);
	margin-bottom: 5px;
}
.counter__subtitle {
	text-align: center;
	font-weight: 700;
	font-size: 0.9166rem;
	line-height: 1.0833rem;
	letter-spacing: 0.37em;
	text-transform: uppercase;
	color: var(--second-txtcolor);
}
.counter__element {
	position: absolute;
	background: var(--third-txtcolor);
	border-radius: 16px;
}
.counter__element--1{
	width: 65.75px;
	height: 65.75px;
	left: -3%;
	top: 60%;
	transform: rotate(-30deg);
}
.counter__element--2{
	width: 96.96px;
	height: 96.96px;
	border-radius: 30px;
	transform: rotate(105deg);
	left: 33%;
	top: -30%;
}
.counter__element--3{
	width: 127.47px;
	height: 127.47px;
	border-radius: 30px;
	transform: rotate(-30deg);
	left: 90%;
	top: 0;
}
@media (max-width:900px){
	.counter__element--3{
	left: 85%;
	top: 0;
}
}
@media (max-width: 768px){
	.counter__element{
		display: none;
	}
}
/* Talk----------------------------------------------------------------------- */

.section__talk {
}
.talk {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--first-bgcolor);
}
@media (max-width: 620px){
	.talk {
		flex-direction: column;
	}
}
.talk__description {
	margin: 0px 20px 0px 92px;
}
@media (max-width: 620px){
	.talk__description {
	margin: 0px 30px 0px 30px;
}
}
.description-talk {
}
.description-talk__title {
	margin-bottom: 12.07px;
	font-weight: 700;
	font-size: 3.666rem;
	line-height: 126%;
	color: var(--second-txtcolor);
}
.description-talk__title span {
	color: var(--forth-txtcolor);
}
.description-talk__text {
	letter-spacing: 0.08em;
	margin-bottom: 24px;
}
.description-talk__button {
}
.talk__image {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 79.07px 71px 116px 20px;
	width: 521.17px;
	height: 284px;
	background-color: var(--second-bgcolor);
	background-image: url('./assets/img/svg/Group_15.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
}
@media (max-width: 620px){
	.talk__image {
		margin: 30px auto;
		width: 80vw;
	}
}
.talk__image-play {
}
/* Footer----------------------------------------------------------------------- */

.footer {
	position: relative;
	padding: 79.59px 0px 40px 0px;
}
@media (max-width:900px){
	.footer {
	padding: 30px 10px 20px 10px;
}
}
.footer__title {
	margin-bottom: 14px;
	text-align: center;
	font-weight: 700;
	font-size: 3.666rem;
	line-height: 126%;
	color: var(--second-txtcolor);
}
@media (max-width:900px){
	.footer__title {
	font-size: 3.0rem;
	}
}
.footer__title span {
	color: var(--third-txtcolor);
}
.footer__subtitle {
	text-align: center;
	letter-spacing: 0.08em;
	margin-bottom: 46.17px;
}
.footer__body{
	position: relative;
}
.footer__row {
	position: relative;
	z-index: 2;
	display: flex;
	flex-wrap: wrap;
	max-width: 978.51px;
	margin: 0 auto;
}
.footer__column {
	position: relative;
	z-index: 4;
}
.column-footer {
	flex: 0 1 28.428%;
	min-height: 276.52px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--second-bgcolor);
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	margin-bottom: 70.43px;
}
.column-footer:not(:last-child){
	margin-right: 72px;
}
@media (max-width: 1030px){
	.column-footer {
	flex: 1 1 28.428%;
}
	.column-footer:not(:last-child){
	margin-right: 20px;
} 
}
@media (max-width: 768px){
	.column-footer {
	flex: 1 1 100%;
	margin: 20px 20px;
}
}
.column-footer__inner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.column-footer__img {
	margin: 0px 0px 58px 0px;
}
.column-footer__title {
	font-weight: 700;
	font-size: 1.333rem;
	line-height: 138.5%;
	letter-spacing: 0.08em;
	color: var(--second-txtcolor);
	margin-bottom: 4px;
}
.column-footer__text {
	letter-spacing: 0.08em;
	margin-bottom: 4px;
}
.footer__element {
	position: absolute;
	background: var(--third-txtcolor);
	border-radius: 16px;
}
@media(max-width: 768px){
	.footer__element {
		display: none;
	}
}
.footer__element--1 {
	width: 65.75px;
	height: 65.75px;
	transform: rotate(-30deg);
	top: 67%;
	left: 6%;
}
.footer__element--2 {
	width: 96.96px;
	height: 96.96px;
	border-radius: 30px;
	transform: rotate(105deg);
	top: 10%;
	left: 27%;
}
.footer__element--3 {
	width: 127.47px;
	height: 127.47px;
	border-radius: 30px;
	transform: rotate(-30deg);
	top: 48%;
	left: 58%;
}
.footer__element--4 {
	width: 65.75px;
	height: 65.75px;
	border-radius: 16px;
	transform: rotate(-30deg);
	top: -8%;
	left: 88%;
}
.footer__market {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.footer__play {
}
.footer__play:first-child {
	margin-right: 56.59px;
}
@media (max-width: 440px) {
	.footer__play:first-child {
	margin-right: 0px;
}
}
.w3c {
	position: absolute;
	right: 0;
	bottom: 0;
}